header{
    background-color: rgb(25, 25, 25);
    position: fixed;
    width: 100%;
    font-weight: bold;
}
header .logo{
    color: rgb(145, 0, 0);
}
header a{
    color: rgb(145, 0, 0);
    padding: 5px 15px;
    text-decoration: none;
}
header .bloque{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0px;
}
header button{
    border-radius: 10px;
    border-color: rgb(145, 0, 0);
    background-color: black;
    color: white;
}
header button #b1{
    display: block;
    margin: 0;
}
header button #b2{
    display: none;
    margin: 0;
}
header button:hover{
    background-color: rgb(125, 0, 0);
}
body{
    background-color: black;
}

#presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url(Media/presentacion.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#presentacion h1{
    padding-top: 100px;
    color: rgb(145, 0, 0);
    font-size: 50px;
}
#presentacion h2{
    color: rgb(172, 171, 171);
    font-size: 40px;
}

#sobre-mi{
text-align: center;
height: 80vh;
}
#sobre-mi h1{
    padding-top: 100px;
    color: rgb(145, 0, 0);
    font-size: 3em;
}
#sobre-mi h2{
    color: rgb(172, 171, 171);
}
#sobre-mi h2 span{
    color: rgb(125, 0, 0);
}



#habilidades{
    background-color: rgb(20, 20, 20);
    text-align: center;
    color: rgb(255, 255, 255);
}
#habilidades .bloque{
    padding: 150px 12px;
}

#habilidades .carta{
    padding: 15px;
    border-radius: 15px;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#habilidades .carta button{
    background-color: rgb(145, 0, 0);
    border-radius: 10px;
    width: 60px;
}
#habilidades .carta button:hover{
    background-color: rgb(125, 0, 0);
}
#carta1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#carta2{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#carta3{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#habilidades .carta:first-child{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url(Media/HTML5.png);
}
#habilidades .carta:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url(Media/css.png);
}
#habilidades .carta:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url(Media/javascript.jpg);
}
#habilidades h1{
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 3.5em;
}
#habilidades h3{
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 0;
    font-size: 3em;
}
#habilidades p{
    color: rgb(25, 25, 25);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
    display: none;
    text-align: center;
}


#experiencia{
    color: rgb(145, 0, 0);
    text-align: center;
    height: 75vh;
}
#experiencia h1{
    font-size: 3em;
}
#experiencia h2{
    color: rgb(172, 171, 171);
}
#experiencia h2 span{
    color: rgb(125, 0, 0);
}
#experiencia .texto-exp{
    padding-left: 20px;
}
#experiencia .img-exp{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
     url(Media/experiencia-1.webp);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     width: 500px;
     height: 400px;
}
#experiencia .bloque{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(51, 51, 51);
    text-align: end;
}
